In [1]:
students={
    'name':'John Cena',
    'class':'2nd',
    'roll no':21,
    'marks':90
}
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no': 21, 'marks': 90}

In [2]:
print(students['name'])
print(students['class'])

John Cena
2nd

In [5]:
print(students.get('name'))
print(students.get('class'))

John Cena
2nd

In [6]:
students['school']='SKD'
students['father']='Sam Cena'
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no': 21, 'marks': 90, 'school': 'SKD', 'father': 'Sam Cena'}

In [10]:
students['class']='3rd'
print(students)

{'name': 'John Cena', 'class': '3rd', 'roll no': 21, 'marks': 90, 'school': 'SKD', 'father': 'Sam Cena'}

In [26]:
show={
    'name':'Radhe Krishna',
    'male lead':'Sumedh Mudgalkar',
    'female lead':'Mallika Singh',
    'total seasons':2,
    'rating':9.5,
    'ott':'hotstar'
}
print(show)

{'name': 'Radhe Krishna', 'male lead': 'Sumedh Mudgalkar', 'female lead': 'Mallika Singh', 'total seasons': 2, 'rating': 9.5, 'ott': 'hotstar'}

In [13]:
for key in show:
    print(key)

name
male lead
female lead
total seasons
rating
ott

In [14]:
for key in show:
    print(key,show[key])

name Radhe Krishna
male lead Sumedh Mudgalkar
female lead Mallika Singh
total seasons 2
rating 9.5
ott hotstar

In [15]:
for k,v in show.items():
    print(k,v)

name Radhe Krishna
male lead Sumedh Mudgalkar
female lead Mallika Singh
total seasons 2
rating 9.5
ott hotstar

In [16]:
for v in show.values():
    print(v)

Radhe Krishna
Sumedh Mudgalkar
Mallika Singh
2
9.5
hotstar

In [17]:
print(show.keys())
print(show.values())
print(show.items())

dict_keys(['name', 'male lead', 'female lead', 'total seasons', 'rating', 'ott'])
dict_values(['Radhe Krishna', 'Sumedh Mudgalkar', 'Mallika Singh', 2, 9.5, 'hotstar'])
dict_items([('name', 'Radhe Krishna'), ('male lead', 'Sumedh Mudgalkar'), ('female lead', 'Mallika Singh'), ('total seasons', 2), ('rating', 9.5), ('ott', 'hotstar')])

In [27]:
show.pop('ott')

'hotstar'